constraints: HTTP ==4000.2.15,
             SHA ==1.6.4,
             aeson ==0.7.0.3,
             ansi-terminal ==0.6.1.1,
             ansi-wl-pprint ==0.6.7.1,
             array ==0.5.0.0,
             asn1-encoding ==0.8.1.3,
             asn1-parse ==0.8.1,
             asn1-types ==0.2.3,
             async ==2.0.1.5,
             attoparsec ==0.11.3.0,
             attoparsec-conduit ==1.1.0,
             authenticate ==1.3.2.8,
             base-unicode-symbols ==0.2.2.4,
             base16-bytestring ==0.1.1.6,
             base64-bytestring ==1.0.0.1,
             binary ==0.7.1.0,
             blaze-builder ==0.3.3.2,
             blaze-builder-conduit ==1.1.0,
             blaze-html ==0.7.0.2,
             blaze-markup ==0.6.1.0,
             byteable ==0.1.1,
             byteorder ==1.0.4,
             bytestring ==0.10.4.0,
             case-insensitive ==1.2.0.0,
             cereal ==0.4.0.1,
             cipher-aes ==0.2.7,
             cipher-rc4 ==0.1.4,
             clientsession ==0.9.0.3,
             conduit ==1.1.2.1,
             conduit-extra ==1.1.0.3,
             connection ==0.2.1,
             containers ==0.5.5.1,
             cookie ==0.4.1.1,
             cprng-aes ==0.5.2,
             crypto-api ==0.13,
             crypto-cipher-types ==0.0.9,
             crypto-numbers ==0.2.3,
             crypto-pubkey ==0.2.4,
             crypto-pubkey-types ==0.4.2.2,
             crypto-random ==0.0.7,
             cryptohash ==0.11.4,
             cryptohash-conduit ==0.1.1,
             css-text ==0.1.2.1,
             data-default ==0.5.3,
             data-default-class ==0.0.1,
             data-default-instances-base ==0.0.1,
             data-default-instances-containers ==0.0.1,
             data-default-instances-dlist ==0.0.1,
             data-default-instances-old-locale ==0.0.1,
             deepseq ==1.3.0.2,
             digest ==0.0.1.2,
             directory ==1.2.1.0,
             dlist ==0.7.0.1,
             email-validate ==2.0.1,
             entropy ==0.2.2.4,
             exceptions ==0.6.1,
             extensible-exceptions ==0.1.1.4,
             fast-logger ==2.1.5,
             file-embed ==0.0.6,
             filepath ==1.3.0.2,
             foreign-store ==0.0,
             ghc-prim ==0.3.1.0,
             hamlet ==1.2.0,
             hashable ==1.2.1.0,
             highlighting-kate ==0.5.7.1,
             hjsmin ==0.1.4.6,
             hl ==0.0.0,
             hscolour ==1.20.3,
             hslua ==0.3.12,
             http-client ==0.3.2.2,
             http-client-tls ==0.2.1.1,
             http-conduit ==2.1.2,
             http-date ==0.0.4,
             http-types ==0.8.4,
             integer-gmp ==0.5.1.0,
             language-javascript ==0.5.13,
             lifted-base ==0.2.2.1,
             markdown ==0.1.7.1,
             mime-mail ==0.4.5.2,
             mime-types ==0.1.0.4,
             mmorph ==1.0.3,
             monad-control ==0.3.3.0,
             monad-extras ==0.5.8,
             monad-logger ==0.3.6.1,
             monad-loops ==0.4.2,
             mtl ==2.1.3.1,
             nats ==0.1.3,
             network ==2.4.2.3,
             network-conduit ==1.1.0,
             old-locale ==1.0.0.6,
             old-time ==1.1.0.2,
             optparse-applicative ==0.8.1,
             pandoc ==1.12.4,
             pandoc-types ==1.12.3.3,
             parsec ==3.1.5,
             path-pieces ==0.1.3.1,
             pem ==0.2.2,
             persistent ==1.3.1,
             persistent-template ==1.3.1.3,
             pretty ==1.1.1.1,
             primitive ==0.5.2.1,
             process ==1.2.0.0,
             publicsuffixlist ==0.1,
             pwstore-fast ==2.4.1,
             random ==1.0.1.1,
             regex-base ==0.93.2,
             regex-pcre-builtin ==0.94.4.8.8.34,
             resource-pool ==0.2.2.0,
             resourcet ==1.1.2.2,
             rts ==1.0,
             safe ==0.3.4,
             scientific ==0.2.0.2,
             securemem ==0.1.3,
             semigroups ==0.12.2,
             shakespeare ==2.0.0.3,
             shakespeare-css ==1.1.0,
             shakespeare-i18n ==1.1.0,
             shakespeare-js ==1.3.0,
             silently ==1.2.4.1,
             simple-sendfile ==0.2.14,
             skein ==1.0.9,
             socks ==0.5.4,
             spoon ==0.3.1,
             stm ==2.4.3,
             stm-chans ==3.0.0.2,
             streaming-commons ==0.1.2.3,
             stringsearch ==0.3.6.5,
             syb ==0.4.1,
             system-fileio ==0.3.13,
             system-filepath ==0.4.10,
             tagged ==0.7.2,
             tagsoup ==0.13.1,
             tagstream-conduit ==0.5.5.1,
             template-haskell ==2.9.0.0,
             temporary ==1.2.0.3,
             texmath ==0.6.6.1,
             text ==1.1.1.2,
             text-icu ==0.6.3.7,
             time ==1.4.2,
             tls ==1.2.7,
             transformers ==0.3.0.0,
             transformers-base ==0.4.2,
             unix ==2.7.0.1,
             unix-compat ==0.4.1.1,
             unix-time ==0.2.2,
             unordered-containers ==0.2.4.0,
             utf8-string ==0.3.7,
             vault ==0.3.0.3,
             vector ==0.10.9.1,
             void ==0.6.1,
             wai ==2.1.0.2,
             wai-app-static ==2.0.1,
             wai-extra ==2.1.1.1,
             wai-logger ==2.1.1,
             warp ==2.1.5.1,
             word8 ==0.0.4,
             x509 ==1.4.11,
             x509-store ==1.4.4,
             x509-system ==1.4.5,
             x509-validation ==1.5.0,
             xml ==1.3.13,
             xml-conduit ==1.2.0.1,
             xml-types ==0.3.4,
             xss-sanitize ==0.3.5.2,
             yaml ==0.8.8.2,
             yesod ==1.2.5.2,
             yesod-auth ==1.3.0.4,
             yesod-core ==1.2.15.1,
             yesod-form ==1.3.8.3,
             yesod-persistent ==1.2.2.3,
             yesod-routes ==1.2.0.6,
             yesod-static ==1.2.3,
             zip-archive ==0.2.2.1,
             zlib ==0.5.4.1,
             zlib-conduit ==1.1.0,
             lucid == 2.0
